// Photo 1 by Alexander Pemberton on Unsplash
// Photo 2 by Breather on Unsplash

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');
$block1: #E7E7E7;
$block2: #82827c;
$link: #ef3340;

* {
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: $block1;
	display: grid;
	grid:
		"nav nav nav nav"
		"img1 img1 img1 block1"
		"block2 block2 block2 block2"
		"img2 img2 img2 img2"
		/ 60px 1fr 100px 1fr;
	grid-template-rows: [g-top] 60px [nav-e g-b1s] auto [g-b1e g-b2s] auto [ g-b2e g-img2] 20vh [g-bot];
	overflow-x: hidden;
}

@media only screen and (min-width: 1425px) {
	body {
		grid:
		"nav nav nav nav nav nav nav"
		"img1 img1 img1 img1 block1 img2 img2"
		"img1 img1 img1 img1 block2 block2 block2"
		/ 60px 1fr 1fr 100px 1fr 1fr 100px;
		grid-template-rows: [g-top] 60px [nav-e g-b1s] 1fr [g-b1e g-b2s] auto [ g-b2e g-bot];
	}
}

a {
	position: relative;
	color: $link;
	text-decoration: none;
}

a:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 0%;
	height: 1px;
	background-color: darken($link,10);
	transition: width 0.175s ease-in;
}

a:hover:after {
	width: 100%;
}

nav {
	grid-area: nav;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 60px 1fr ;
	grid-template-areas: 
		"logo menu";
	z-index: 1;
	border-bottom: 1px solid rgba(218, 218, 218, .4);
	
	& .logo {
		grid-area: logo;
		border-right: 1px solid rgba(218, 218, 218, .4);
		font-size: 2rem;
		
		& a {
			display: block;
			line-height: 60px;
			text-align: center;
			color: rgba(0,0,0,.87);
			
			&:after {
				display: none;
			}
			
			&:hover {
				background: rgba(255,255,255,.2);
			}
		}
	}
	
	& .menu {
		grid-area: menu;
		text-transform: uppercase;
		list-style: none;
		margin: 0;
		padding: 0;
		
		& li {
			position: relative;
			
			& a {
				line-height: 60px;
				padding: 0 2rem;
				color: rgba(0,0,0,.87);
				display: block;
				transition: all 200ms cubic-bezier(.25,.75,.5,1);
				
				&:after {
					background-color: darken($block1,30);
				}
				
				&:hover {
					padding-left: 2.5rem;
				}
			}
			
			& ul {
				position: absolute;
				left: 0;
				list-style: none;
				width: 100%;
				margin: 0;
				padding: 0;
				overflow: hidden;
				transition: all 200ms cubic-bezier(.25,.75,.5,1);
				
				& li {
					background: darken($block1,5);
					line-height: 60px;
					
					&:not(:last-child) {
						border-bottom: 1px solid darken($block1, 10);	
					}
					
					&:hover a {
						background: rgba(0,0,0,.1);
					}
					
					& a {
						color: rgba(0,0,0,.87);
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1425px) {
	nav {
		grid-template-columns: 60px 1fr 1fr 100px 1fr 1fr 100px;
		grid-template-areas: 
		"logo . . . menu . .";
	}
}

h1 {
	font-weight: 400;
}

.block1 {
	background: $block1;
	grid-area: block1;
	
	display: flex;
	
	& .content {
		padding: 2rem 3rem 2rem 2rem;
		align-self: flex-end;
		
		& h1 {
			font-size: 2.2rem;
		}
		
		& span {
			letter-spacing: 1rem;
			text-transform: uppercase;
			font-size: 1rem;
			margin-bottom: 1.2em;
			display: block;
		}
		
		& p {
			font-size: .8rem;
			margin-top: 0;
			line-height: 1.68em;
			letter-spacing: .1rem;
			margin-bottom: 0;
		}
	}
}

.block2 {
	background: $block2;
	grid-area: block2;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 100px;
	grid-template-areas: "content . plus";
	color: #fff;
	
	& .content {
		padding: 2rem;
		grid-area: content;
		border-right: 1px solid darken($block1, 10);
		
		& h2 {
			font-weight: 400;
			text-transform: uppercase;
			font-size: 2.2rem;
			margin-top: 0;
			margin-bottom: 6rem;
		}
		
		& p {
			line-height: 1.68em;
			font-weight: 300;
			font-size: 1rem;
			margin-bottom: 0;
		}
	}
	
	& .plus {
		padding: 2rem;
		grid-area: plus;
		text-align: center;
		font-size: 3rem;
		font-weight: 200;
		border-left: 1px solid darken($block1, 10);
	}
}

.img1 {
	grid-area: img1;
	background: url('https://images.unsplash.com/photo-1464029902023-f42eba355bde?ixlib=rb-0.3.5&s=511e728f907ae4d4580bc4f8a5eee6b5&auto=format&fit=crop&w=1950&q=80');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	grid-row: g-top / g-b1e;
}

.img2 {
	grid-area: img2;
	background: url('https://images.unsplash.com/photo-1482957701449-f792f1f41506?ixlib=rb-0.3.5&s=5a609272edf11321975343026e0f618f&auto=format&fit=crop&w=1681&q=8');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 1425px) {
	.img1 {
		grid-row: g-top / g-bot;
	}
	
	.img2 {
		grid-row: g-top / g-b1e;
	}
}
